@import './variables.scss';

.online{
  &-title{
    margin-bottom: 20px;
  }
  &-list{
    padding: 0;
    margin: 0;
    list-style: none;
    &-item{
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      &-img_content{
        margin-right: 10px;
        position: relative;
      }
      &-img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
      &-online{
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: limegreen;
        position: absolute;
        top: -2px;
        right: -4px;
        border: 2px solid #FFF;
      }
      &-username{
        font-weight: 500;
      }
    }
  }
}